node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
pb_data/auxiliary.db
pb_data/auxiliary.db-shm
pb_data/auxiliary.db-wal
pb_data/data.db
pb_data/data.db-shm
pb_data/data.db-wal
